<%- include('header'); -%>
 <div class="content">
 <h2>Contacts</h2>
 <p id="name">Name</p>
 <p id="address">Address</p>
 <p id="phone">Phone</p>
 <p id="emails">Emails</p>
 </div>
<%- include('footer'); -%>