<%- include('header'); -%>
 <div class="content">
 <h2>Login</h2>
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Your Username" name="username" required>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>

    <button type="submit">Login</button>
 </div>
<%- include('footer'); -%>