<%- include('header'); -%>
 <div class="content">
 <h2>Register:</h2>
    <label for="society"><b>Username</b></label>
    <input type="text" placeholder="Enter Society" name="society" required>
    

    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required>

    <label for="pass"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="pass" required>

    <button type="submit">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
 </div>
<%- include('footer'); -%>